<div class='home-body col-md-12'>
	<row>
		<div class="text-center icon">
			<i class="fa fa-camera-retro fa-5x"></i>
		</div>
	</row>
	<div class='text-center' style='margin-top:60px;font-size: 15px;font-weight: 400'>
		<span class="home-body-text"> Free (do whatever you want) high-resolution photos. </span>
		<div style='margin-top:10px;'>
		<span class="home-body-text" style='margin-top:60px;'> For 10 new photos every 10 days, subscribe. </span></div>
	</div>
	<div style='margin-top:20px' class='text-center'>
		<span class='social-icons'><i class="fa fa-twitter fa-lg" aria-hidden="true"></i><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i><i class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i>
		<i class="fa fa-instagram fa-lg" aria-hidden="true"></i></span>
	</div>
	<div style='margin-top:20px' class='text-center'>
		<span style='cursor:pointer;text-decoration:underline;margin-right:20px;'><a (click)="submit()"> Submit a photo </a></span>
	</div>
	<PhotoDetail [parent]='false'></PhotoDetail>
</div>