<em *ngIf="submit" class='col-md-6 col-md-offset-3 text-center alert alert-success' style='margin-top:40px;font-size: 16px;'>Successfully added a photo</em>
<em *ngIf="loggedOut" class='col-md-6 col-md-offset-3 text-center alert alert-warning' style='margin-top:40px;font-size: 16px;'>Session ended. Please log back in before submitting.</em>
<em *ngIf="registered" class='col-md-6 col-md-offset-3 text-center alert alert-success' style='margin-top:40px;font-size: 16px;'>Welcome, {{firstname}} {{lastname}}.</em>
<em *ngIf="noPhotos" class='col-md-6 col-md-offset-3 text-center' style='margin-top: 140px;font-size: 16px'>No photos, be the first to add one!</em>
<div style='margin-top:6%'>
	<div class="container-fluid" style='margin-bottom:20%' *ngFor="#photo of photos">
		<div class="col-md-6 col-sm-12 col-xs-6 col-md-offset-3 col-xs-offset-3">
		    <div class="thumbnail_container">
		      	<div class="thumbnail">
					<img src="{{photo.photo}}" />
				</div>

				<div class='text-center'><a (click)='userLink(photo.user.data.username)'style='cursor:pointer'>{{photo.user.data.firstname}} {{photo.user.data.lastname}}</a></div>
			</div>
		</div>
	</div>
</div>