
<div class='text-center'>
	<h2 style='font-size:30px;'>{{firstname}} {{lastname}}</h2>
</div>
<div *ngIf="currentUser" style='float:right;margin-top:-45px;margin-right: 100px;'>
	<button class="btn btn-default" style='color:#999;font-family:helvetica;font-weight:550;font-size:12px' (click)="form()">EDIT PROFILE</button>
</div>
<div style='color:#999;font-size:1em' class='text-center'>
<i *ngIf="location" class="fa fa-map-marker" style='margin-left:10px;' aria-hidden="true"></i> {{location}}   <i *ngIf="webiste"class="fa fa-globe" style='margin-left: 20px' aria-hidden="true"></i> <a href={{website}}>{{website}}</a>
	<div *ngIf="website" style='color:#111;font-size:1.2em;margin-top:5px;'>
		{{bio}}
	</div>
</div>
<div *ngIf="currentUser" style='margin-top:20px' class='text-center'>
	<span style='cursor:pointer;text-decoration: underline'><a (click)="submit()"> Submit a photo </a></span>
</div>
<em *ngIf="signIn" class='col-md-6 col-md-offset-3 text-center alert alert-warning' style='margin-top:40px;font-size: 16px;'>Please sign in to like photo</em>
<div style='margin-top:6%' id='profile-photos'>
	<span class='col-md-6 col-md-offset-3' id='allphotos'><a [ngClass]="{ 'selected-view' : getLinkStyle('/'+username)}" (click)='PhotoLink()'>{{photoCounter}} Photos  </a><a [ngClass]="{ 'selected-view' : getLinkStyle('/'+username+'/likes')}" (click)='LikesLink()'>  {{likeCounter}} Likes</a> </span>
	<router-outlet></router-outlet>
</div>