<div>	
	<nav class="navbar navbar-fixed-top">
	  <div class="navbar-container">
	     <ul class="nav navbar-nav navbar-left">
	      <li><a [class.active]="_router.isRouteActive(_router.generate(['/Home']))" [routerLink]="['Home']">Featured</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li *ngIf="!isLoggedIn()">
	      <a [class.active]="_router.isRouteActive(_router.generate(['/SignIn']))" [routerLink]="['SignIn']">Sign In</a>
	      </li>
	      <li class='btn btn-success btn-social' [routerLink]="['SignUp']" *ngIf="!isLoggedIn()"><a [class.active]="_router.isRouteActive(_router.generate(['/SignUp']))" class='btn-social-text'>Join</a></li>
	      <li class='sign-out' *ngIf="isLoggedIn()"><a (click)="logout()">Sign Out</a></li>
	      <li class='sign-out' *ngIf="isLoggedIn()"><a [class.active]="_router.isRouteActive(_router.generate(['/Profile', {id: username}]))" (click)="profile()">Profile</a></li>
	    </ul>
	  </div>
	</nav>
	<div class=''>
	    <router-outlet></router-outlet>
	</div>
</div>